---
import Layout from "../layouts/Base.astro";

import Header from "../layouts/Header.astro";
import Footer from "../layouts/Footer.astro";

import PageHero from "../components/hero/Hero.astro";
import Philosophy from "../components/home/Philosophy.astro";
import LegacyTimeline from "../components/home/LegacyTimeline.astro";
import FeaturedProjects from "../components/home/FeaturedProjects.astro";
import Services from "../components/home/Services.astro";
import CTA from "../components/home/CTA.astro";
---

<Layout
  title="Bhandary Architects | Architects & Interior Designers in Mangalore"
  description="Bhandary Architects is an award-winning architecture and interior design studio in Mangalore, creating timeless residential, commercial and hospitality spaces since 1995."
>

  <main>

    <PageHero />

    <Header sticky />

    <Philosophy />

    <LegacyTimeline />

    <FeaturedProjects />

    <Services />

    <CTA />

  </main>

  <Footer />

</Layout>