<section class="map-section">

    <iframe
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps?q=Bhandary%20Architects%20Mangalore&output=embed">
    </iframe>

</section>

<style>

.map-section{

    height:620px;

}

.map-section iframe{

    width:100%;

    height:100%;

    border:none;

    filter:grayscale(100%) contrast(1.1);

    transition:.6s;

}

.map-section:hover iframe{

    filter:none;

}

@media(max-width:768px){

    .map-section{

        height:420px;

    }

}

</style>